img {
    max-width: 176px !important;
    max-height: 269px !important;
    
}

.parent {
    white-space: nowrap;
}

.placeholder {
    max-width: 176px !important;
    max-height: 269px !important;
    width: 75px !important;
    height: 269px !important;
}

.single-card {
    display: inline-block;
}

.third {
    transform: rotate(90deg);
    margin-right: 3.0em;
    margin-left: 3.0em;
}

.vertical-horizontal-parent {
    position: relative;
    overflow: visible;
}

.vertical-horizontal-child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
