.cards {
    background-color: white;
    width: 220px !important;
    height: 336px !important;

}

.parent {
    white-space: nowrap;
    overflow: visible;
}

.single-card {
    display: inline-block;
}

.third {
    transform: rotate(90deg);

}